<h1>{{ title }}</h1>

<h2>Cars from the backend:</h2>

<ul>
  @for (car of backendCars(); track car.carId) {
    <li>
      <span>{{ car.brand }} - {{ car.color }} - {{ car.numberOfWheels }} wheels</span>
      <div class="icon-container">
        <img
          src="icons/edit-icon.jpg"
          alt="Edit car"
          (click)="openEditModal(car)"
          class="edit-icon"
        />
        <img
          src="icons/trash-can.png"
          alt="Delete car"
          (click)="deleteCar(car.carId!)"
          class="delete-icon"
        />
      </div>

    </li>
  } @empty {
    <li>No cars available</li>
  }
</ul>

@if (isEditing) {
  <car-editor
    [car]="carToEdit"
    (carUpdated)="handleCarUpdated()"
    (close)="closeEditModal()">
  </car-editor>
}
